name: Run tests

on: [push, pull_request]

jobs:
  run-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        julia-version: ["1", "1.11", "lts"]
    steps:
      - uses: actions/checkout@v5
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.julia-version }}
      - uses: julia-actions/cache@v2
      - name: Pre-build packages
        uses: julia-actions/julia-buildpkg@v1
      - name: Run tests
        run: make tests
